* {
    box-sizing: border-box;
}


body {

    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f8f1;
    color: #333;

}


/* En-tête */

header {

    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 50px 20px;

}


header h1 {

    font-size: 45px;
    margin-bottom: 10px;

}



/* Menu */

nav {

    background: #1b5e20;
    padding: 15px;
    text-align: center;

}


nav a {

    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}


nav a:hover {

    text-decoration: underline;

}



/* Présentation */

.presentation {

    text-align: center;
    padding: 50px 20px;

}



/* Cartes des cours */

.cours {

    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

}


article {

    background: white;
    width: 300px;
    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

}



article h3 {

    color: #2e7d32;

}



/* Pied de page */

footer {

    margin-top: 50px;
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;

}


/* blocs cours */

#liste-cours {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;

}


#liste-cours article {

    background: white;
    width: 300px;
    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

}


#liste-cours article h3 {

    color: #2e7d32;

}


#liste-cours a {

    display: inline-block;
    margin-top: 15px;

    background: #2e7d32;
    color: white;

    padding: 10px 20px;

    border-radius: 10px;

    text-decoration: none;

}


#liste-cours a:hover {

    background: #1b5e20;

}




.fiche {
    max-width:900px;
    margin:auto;
}


.infos {
    background:#f1f5f9;
    padding:15px;
    border-radius:10px;
}


.bloc {

    margin:25px 0;
    padding:20px;
    border-radius:15px;

}


.auteur {

    background:#fef3c7;
    border-left:8px solid #d97706;

}


.definition {

    background:#dbeafe;
    border-left:8px solid #2563eb;

}


.retenir {

    background:#dcfce7;
    border-left:8px solid #16a34a;

}


.examen {

    background:#fee2e2;
    border-left:8px solid #dc2626;

}


.cours {

    background:white;
    border:1px solid #ddd;

}
